$font-stack: 'Helvetica';
$text-color: #fff;
$text-color-secondary: #a6a6a6;
$body-pg-color: #040d13;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;
$gradient: linear-gradient(90deg, rgb(82, 188, 250) 0%,rgb(36, 64, 221) 100%)
